extends layout
block content
  form(method="POST" action=".")
    label(for="name") Name:
    input(
      id="name"
      type="text"
      name="name"
      placeholder="Please input your name"
    )

    label(for="email") Email:
    input(
      id="email"
      type="email"
      name="email"
      placeholder="Please input your email address"
    )
    input(type="submit" value="Submit")