extends layout
block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg
  else if data.name && data.email
    p.success Success to login!

  form(method="POST" action="." class="form-registration")
    label(for="name") Name:
    input(
      id="name"
      type="text"
      name="name"
      placeholder="Please input your name"
      value=data.name
      class="form-control"
    )

    label(for="email") Email:
    input(
      id="email"
      type="email"
      name="email"
      placeholder="Please input your email address"
      value=data.email
      class="form-control"
    )
    input(type="submit" value="Submit" class="btn btn-lg btn-primary btn-block")